@model Agency.Application.ViewModel.TaxiViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(t => t.Name);
        @Html.TextBoxFor(t => t.Name);
    </div>
    <div>
        @Html.LabelFor(t => t.Address);
        @Html.TextBoxFor(t => t.Address)
    </div>

    <div>
        @Html.LabelFor(t => t.Telephone1)
        @Html.TextBoxFor(t => t.Telephone1)
    </div>

    <div>
        @Html.LabelFor(t => t.Telephone2)
        @Html.TextBoxFor(t => t.Telephone2)
    </div>

    <div>
        @Html.LabelFor(t => t.Telephone3)
        @Html.TextBoxFor(t => t.Telephone3)
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
}
